*{
    font-family: 'Roboto', sans-serif;;
}

ul li{
    display: inline-block;
}
a {
    color: blue;
} 
a:link {text-decoration: none; }
.me{background-color: red;
margin: 50px 30px;
padding: 50px;}